<div class="{{position}}">
  <div class="{{position ? 'container' : ''}}">
    <div class="alert alert-{{alert?.level}} {{alert?.displayHideButton ? 'alert-dismissible' : ''}}"
         role="alert">
      <h5>
        <i class="bi {{icon.get(alert?.level || 'info')}}"></i> {{alert?.header}}
      </h5>

      {{alert?.text}}

      <button *ngIf="alert?.displayHideButton || false"
              (click)="hideAlert()"
              type="button"
              class="btn-close">
      </button>
    </div>
  </div>
</div>
