.card {
  padding-top: .75rem * 3;
  position: relative;
  text-align: left;
}

.difficulty,
.trainingDate,
.delete {
  padding: .25rem .75rem;
  position: absolute;
}

.difficulty,
.trainingDate {
  top: -2px;
  font: {
    size: .75rem;
    weight: bold;
  }
}

.difficulty,
.delete {
  width: max-content;
  max-width: 100%;
  background-color: var(--bs-primary);
  color: var(--bs-secondary);
}

.difficulty {
  left: 0;
  text-transform: uppercase;
}

.trainingDate {
  right: 0;
}

.delete {
  padding-right: calc(.75rem - 2px);
  bottom: calc(.75rem - 2px);
  right: calc(.75rem + 2px);
  font-size: 1.25rem;
  cursor: pointer;
  opacity: 0;
  transition: 0s ease-in-out 0s;

  &:hover {
    background-color: var(--bs-secondary);
    color: var(--bs-primary);
  }
}

a {
  &:before {
    content: unset;
  }
}

.col-12 {
  position: relative;

  &:hover {
    .card {
      background-color: var(--bs-primary);
      color: var(--bs-secondary);
    }

    .delete {
      opacity: 1;
      transition: .3s ease-in-out .3s;

      &:hover {
        transition: .3s ease-in-out;
      }
    }
  }
}
