<div *ngIf="alerts" class="alert">
  <div *ngFor="let alert of alerts">
    <app-alert *ngIf="alert.show"
               [alert]="alert"
               [position]="'fixed-top'">
    </app-alert>
  </div>
</div>

<section class="section section_se">
  <div class="container">
    <p>
      Difficulty level: <span class="bold">{{training.difficulty}}</span>
    </p>
    <form class="row">
      <div class="save-section">
        <a class="btn btn_alt" (click)="save()">Save</a>
      </div>
      <label class="col-12 col-md-6 col-lg-7 col-xl-8 col-xxl-9">
        <input [(ngModel)]="training.title"
               type="text"
               name="title"
               placeholder="Title"
               class="form-control"
               required>
      </label>
      <label class="col-12 col-md-6 col-lg-5 col-xl-4 col-xxl-3">
        <input [(ngModel)]="training.date"
               type="date"
               name="trainingDate"
               placeholder="Training date"
               class="form-control"
               required>
      </label>
      <div *ngFor="let unit of training.unit; let j = index" class="col-12 col-sm-6 col-md-4 col-xl-3 xol-xxl-2">
        <fieldset>
          <legend>
            {{unit.exercise.name}}
          </legend>
          <table>
            <thead>
            <tr>
              <th>Reps</th>
              <th>Value</th>
              <th>Unit</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let series of unit.series; let i = index">
              <td>
                <label>
                  <input [(ngModel)]="series.reps"
                         type="number"
                         min="0"
                         max="25"
                         step="1"
                         [name]="'reps[' + j + '][' + i + ']'"
                         class="form-control"
                         required>
                </label>
              </td>
              <td>
                <label>
                  <input [(ngModel)]="series.weight"
                         type="number"
                         min="0"
                         max="1500"
                         step="0.25"
                         [name]="'result[' + j + '][' + i + ']'"
                         class="form-control"
                         required>
                </label>
              </td>
              <td>
                <label>
                  <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       data-toggle="dropdown">
                      {{series.unit}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a *ngFor="let u of ['kg', 's']"
                         (click)="series.unit = u"
                         class="dropdown-item {{series.unit === u ? 'active' : ''}}">
                        {{u}}
                      </a>
                    </div>
                  </div>
                </label>
              </td>
            </tr>
            </tbody>
          </table>
        </fieldset>
      </div>
    </form>
  </div>
</section>
