<form>
  <fieldset>
    <legend>{{formType}}</legend>
    <label *ngFor="let input of inputsParams; let i = index"
           class="{{input.err.isErr ? 'danger' : ''}}">
      <div *ngIf="formType === 'register' && input.name === 'password'"
           id="password-strength" class="{{input?.strength?.level}}">
        {{input?.strength?.message}}
      </div>
      <div class="validation">
        {{input.err.isErr ? input.err.message : ''}}
      </div>
      <div class="input-group{{input.required.value ? ' required' : ''}}">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="bi bi-info-circle" title="{{input.info}}"></i>
          </span>
        </div>
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i (click)="isPassword(i) ? togglePasswordDisplay(i) : null"
               class="bi {{input.icon}}">
            </i>
          </span>
        </div>
        <input [(ngModel)]="formData[input.name.toString()]"
               (keyup)="this.formType === 'register' ? liveValidation(i) : null"
               class="form-control"
               placeholder="{{input.placeholder}}"
               type="{{input.type.value}}"
               max="{{input.max.value}}"
               name="{{input.name}}"
               required="{{input.required.value ? 'required' : ''}}">
      </div>
    </label>

    <button (click)="post()" [disabled]="button.disabled" class="btn btn_alt" type="submit">{{formType}}</button>
  </fieldset>
</form>

<div *ngIf="formType === 'register'" class="alert alert-warning">
  <h5><i class="bi bi-exclamation-triangle"></i> Remember!</h5>
  By registering and using this website, you acknowledge that you understand and agree to the website regulations.
</div>
