<nav class="{{position == 'fixed' ? 'navbar fixed-top navbar-expand-lg' : 'navbar-footer'}}">
  <div class="container">
    <div [innerHTML]="navigation?.getBrandItem()"></div>
    <button *ngIf="position == 'fixed'" class="navbar-toggler collapsed" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <div class="nav_primary{{position == 'fixed' ? ' collapse navbar-collapse' : ''}}"
         id="{{position == 'fixed' ? 'navbarSupportedContent' : ''}}">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let link of navigation?.getLeftNavItems()" [innerHTML]="link" class="nav-item"></li>
      </ul>
      <ul *ngIf="position == 'fixed'" class="navbar-nav ms-auto">
        <li *ngFor="let link of navigation?.getRightNavItems()" [innerHTML]="link" class="nav-item"></li>
      </ul>
    </div>
  </div>
  <hr *ngIf="position == 'fixed'">
  <div class="container">
    <ul class="navbar-nav nav_secondary">
      <li *ngFor="let link of navigation?.getSecNavItems()" [innerHTML]="link" class="nav-item">
      </li>
    </ul>
  </div>
</nav>
