<nav class="navbar {{position == 'fixed' ? 'fixed-top navbar-expand-lg' : 'navbar-footer'}}">
  <div class="container">
    <div [innerHTML]="navigation?.getBrandItem()"></div>
    <div [innerHTML]="navigation?.getToggleButton()"></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li *ngFor="let link of navigation?.getLeftNavItems()" [innerHTML]="link" class="nav-item">
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li *ngFor="let link of navigation?.getRightNavItems()" [innerHTML]="link" class="nav-item">
        </li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="container">
    <ul class="navbar-nav nav_secondary">
      <li *ngFor="let link of navigation?.getSecNavItems()" [innerHTML]="link" class="nav-item">
      </li>
    </ul>
  </div>
</nav>
