<main-navigation (URLEvent)="changeURL($event)" [position]="'fixed'" [navigation]="navigation"></main-navigation>
<social-media [position]="'right'" [socialMedia]="socialMedia"></social-media>

<section-page *ngIf="pageType === 'section'" (URLEvent)="changeURL($event)" [sections]="mockPageContent"></section-page>
<user-profile *ngIf="pageType === 'profile'" [response]="pageContent"></user-profile>
<app-exercises *ngIf="pageType === 'exercises'" [response]="pageContent"></app-exercises>
<app-exercise *ngIf="pageType === 'exercise'" [response]="pageContent"></app-exercise>
<app-logout *ngIf="url === 'logout'"></app-logout>

<page-footer (URLEvent)="changeURL($event)"
             [navPosition]="'bottom'" [navigation]="navigation"
             [smPosition]="''" [socialMedia]="socialMedia">
</page-footer>
