.box{
  border: #0074D9 solid 2px;
  height: 40px;
  width: 100%;
  margin: 0 0 1rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.section_pr{
  height: 20rem;
}

.title{
  text-align: center;
  padding: 5%;
  font-size: xxx-large;
}

.BMI{
  position: relative;
  transform: translateX(-5%) translateY(100%) scale(1);
}

.CI{
  position: relative;
  transform: translateX(32.5%) translateY(-10%) scale(1);
}

.WHR{
  position: relative;
  transform: translateX(70%) translateY(-120%) scale(1);
}

